body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #020617;
}

.app {
  display: flex;
  height: 100vh;
}

.editor {
  width: 50%;
  display: flex;
  flex-direction: column;
}

textarea {
  flex: 1;
  background: #020617;
  color: #e5e7eb;
  border: none;
  border-bottom: 1px solid #1e293b;
  padding: 10px;
  resize: none;
  outline: none;
  font-size: 14px;
}

iframe {
  width: 50%;
  border: none;
  background: white;
}
