body {
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
  text-align: center;
}

textarea {
  width: 90%;
  height: 200px;
  margin-top: 10px;
}

iframe {
  width: 90%;
  height: 300px;
  background: #fff;
  margin-top: 15px;
}
